<style>
    .servicios-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .servicios-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 80%;
    }

    .servicio-card {
        position: relative;
        flex: 0 0 calc(25% - 20px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicio-card img {
        width: 100%;
        display: block;
    }

    .linea-naranja {
        width: 100%;
        height: 4px;
        background-color: #ff5100;
    }

    .nombre-card {
        width: 100%;
        background-color: #eceff7;
        font-size: 13px; /* Tamaño de fuente relativo */
        text-align: justify; /* Justificar el texto */
        font-weight: 500;
        padding: 1em;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 2em;
    }

    .title-container p {
        color: black; /* Color del texto */
        font-size: 1.5rem; /* Tamaño de fuente relativo */
        padding-left: 1.5rem; /* Espacio adicional a la izquierda para la línea */
        border-left: 5px solid #ff5100; /* Línea azul a la izquierda */
        text-align: justify; /* Justificar el texto */
        font-weight: 500;
    }

  
</style>

<section>
    <div class="title-container">
        <p class="text-lg">NUESTROS SERVICIOS</p>
        <div class="orange-line"></div>
    </div>
    <div class="servicios-container">
        <div class="servicios-cards">
            <!-- Card 1 -->
            <div class="servicio-card">
                <img src="/img/server.jpg" alt="Servicio 1">
                <div class="linea-naranja"></div>
                <div class="nombre-card">Nombre 1</div>
            </div>
            <!-- Card 2 -->
            <div class="servicio-card">
                <img src="/img/server.jpg" alt="Servicio 2">
                <div class="linea-naranja"></div>
                <div class="nombre-card">Nombre 2</div>
            </div>
            <!-- Card 3 -->
            <div class="servicio-card">
                <img src="/img/server.jpg" alt="Servicio 3">
                <div class="linea-naranja"></div>
                <div class="nombre-card">Nombre 3</div>
            </div>
            <!-- Card 4 -->
            <div class="servicio-card">
                <img src="/img/server.jpg" alt="Servicio 4">
                <div class="linea-naranja"></div>
                <div class="nombre-card">Nombre 4</div>
            </div>
            <!-- Card 5 -->
            <div class="servicio-card">
                <img src="/img/server.jpg" alt="Servicio 5">
                <div class="linea-naranja"></div>
                <div class="nombre-card">Nombre 5</div>
            </div>
            <!-- Card 6 -->
            <div class="servicio-card">
                <img src="/img/server.jpg" alt="Servicio 6">
                <div class="linea-naranja"></div>
                <div class="nombre-card">Nombre 6</div>
            </div>
            <!-- Card 7 -->
            <div class="servicio-card">
                <img src="/img/server.jpg" alt="Servicio 7">
                <div class="linea-naranja"></div>
                <div class="nombre-card">Nombre 7</div>
            </div>
            <!-- Card 8 -->
            <div class="servicio-card">
                <img src="/img/server.jpg" alt="Servicio 8">
                <div class="linea-naranja"></div>
                <div class="nombre-card">Nombre 8</div>
            </div>
        </div>
    </div>
</section>
