<style>
    .servicios-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        padding: 0 40px; /* Agregar padding a los costados */
    }

    .servicios-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap; /* No permitir el ajuste de línea */
        gap: 20px;
        max-width: 100%;
    }

    .servicio-card {
        position: relative;
        flex: 0 0 calc(20% - 20px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-content {
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicio-card img {
        width: 100%; /* Ajustar el ancho de la imagen */
        height: 250px; /* Ajustar la altura de la imagen */
        display: block;
    }

    .linea-naranja {
        width: 100%;
        height: 4px;
        background-color: #ff5100;
    }
    
    .linea-azul {
        width: 100%;
        height: 4px;
        background-color: #144478;
    }

    .nombre-card {
        width: 100%;
        background-color: #eceff7;
        font-size: 16px; /* Tamaño de fuente relativo */
        text-align: justify; /* Justificar el texto */
        font-weight: 800;
        padding: 2em;
        color: white;
    }

    /* Colores para cada card */
    .servicio-card:nth-child(odd) .nombre-card {
        background-color: #144478; /* Rojo */
    }

    .servicio-card:nth-child(even) .nombre-card {
        background-color: #ff5000; /* Azul */
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 2em;
    }

    .title-container p {
        color: black; /* Color del texto */
        font-size: 1.5rem; /* Tamaño de fuente relativo */
        padding-left: 1.5rem; /* Espacio adicional a la izquierda para la línea */
        border-left: 5px solid #ff5100; /* Línea azul a la izquierda */
        text-align: justify; /* Justificar el texto */
        font-weight: 500;
        
    }
</style>
<section id="servicios">
    <div class="title-container">
        <p class="text-lg">NUESTROS SERVICIOS</p>
        <div class="orange-line"></div>
    </div>
    <div class="servicios-container">
        <div class="servicios-cards">
            <!-- Card 1 -->
            <div class="servicio-card">
                <div class="card-content">
                    <div class="nombre-card">Desarrollo de <br> Software</div>
                    <div class="linea-naranja"></div>
                    <img src="/img/soft.png" alt="Servicio 1">
                </div>
            </div>
            <!-- Card 2 -->
            <div class="servicio-card">
                <div class="card-content">
                    <div class="nombre-card">Controles de <br> Acceso</div>
                    <div class="linea-azul"></div>
                    <img src="/img/camaras.jpg" alt="Servicio 2">
                </div>
            </div>
            <!-- Card 3 -->
            <div class="servicio-card">
                <div class="card-content">
                    <div class="nombre-card">Implementación de <br> Servidores</div>
                    <div class="linea-naranja"></div>
                    <img src="/img/server.jpg" alt="Servicio 3">
                </div>
            </div>
            <!-- Card 4 -->
            <div class="servicio-card">
                <div class="card-content">
                    <div class="nombre-card">Centros <br> de monitoreo CCTV</div>
                    <div class="linea-azul"></div>
                    <img src="/img/monitoreo.jpg" alt="Servicio 4">
                </div>
            </div>
            <!-- Card 5 -->
            <div class="servicio-card">
                <div class="card-content">
                    <div class="nombre-card">Enlaces de <br> fibra óptica</div>
                    <div class="linea-naranja"></div>
                    <img src="/img/fibra.jpg" alt="Servicio 5">
                </div>
            </div>
        </div>
    </div>
</section>
