---
console.log('a')
---

<div class="w-full border-b">
    <div class="flex px-5 py-4 items-center ">
        <a href="/" class="w-auto">
            <img src="img/logo.svg" alt="">
        </a>
        <div class="flex m-4">
            <div class="m-2">
                <p>Iniciativas</p>
            </div>
            <div class="m-2">
                <p>Experiencia</p>
            </div>
            <div class="m-2">
                <p>Tecnologia</p>
            </div>
            <div class="m-2">
                <p>Servicios</p>
            </div>
            <div class="m-2">
                <p>Implementacion</p>
            </div>
        </div>
    </div>
</div>